<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/bootstrap.css">
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>
<body ng-app="stockMarketApp">
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!--[if lt IE 9]>
<script src="scripts/vendors/es5-shim.js"></script>
<script src="scripts/vendors/json3.min.js"></script>
<![endif]-->
<div ng-controller="AppCtrl as appCtrl" class="ng-cloak">

  <div class="alert alert-info" ng-show="appCtrl.message" ng-bind="appCtrl.message"></div>

  <div class="row-fluid">
    <div ng-repeat="stock in appCtrl.stocks">
      <div>
        <div class="stock-dash span3">
          <span class="stock-name" >{{stock.name}}</span>
          <span class="stock-price" >${{stock.price}}</span>
          <span class="stock-change " ng-class="appCtrl.getChangeClass(stock)" >{{appCtrl.getChange(stock)}} %</span>
        </div>
      </div>
    </div>
  </div>

</div>

<div ng-controller="RegisterCtrl as registerCtrl">
  <div class="hero-unit">
    <form name="registerForm" ng-submit="registerCtrl.register()">
      <input type="text" ng-model="registerCtrl.username" placeholder="Username" required="">
      <input type="password" ng-model="registerCtrl.password" placeholder="password" required="">
      <input type="submit" value="Register Now" class="btn btn-success btn-large" ng-disabled="registerForm.$invalid">
    </form>
  </div>

</div>

<script src="scripts/vendors/jquery.js"></script>
<script src="scripts/vendors/jquery-ui-1.10.2.custom.js"></script>
<script src="scripts/vendors/angular.js"></script>
<script src="scripts/vendors/angular-route.js"></script>
<script src="scripts/vendors/angular-animate.js"></script>

<!-- build:js scripts/plugins.js -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers.js"></script>
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<!-- endbuild -->

<!--script type="text/javascript" src="scripts/vendors/googlecharts.js"></script>
<script type="text/javascript">

  window.googleChartsLoaded = false;
  // Load the Visualization API and the piechart package.
  google.load('visualization', '1.0', {'packages':['corechart']});
  google.setOnLoadCallback(function() {
    window.googleChartsLoaded = true;
  });

</script-->
</body>
</html>
